@function px2rem($px) {
    $rem: 37.5px;
    @return ($px / $rem)+rem;
}

@mixin full-size {
    width: 100%;
    height: 100%;
}

@mixin lheight($h) {
    height: $h;
    line-height: $h;
}

html,
body {
    font-size: 10px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}