@function px2rem($px) {
    $rem: 37.5px;
    @return ($px / $rem)+rem;
}

@mixin full-size {
    width: 100%;
    height: 100%;
}

@mixin lheight($h) {
    height: $h;
    line-height: $h;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 10px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    border: none;
    outline: none;
}

input[type="button"] {
    border: none;
    outline: none;
}

#app {
    width: 100%;
    height: 100%;
}

$mi-deep-origin: #ff6700;

%e-clear-spacing {
  margin: 0;
  padding: 0;
}
%e-right-arrow {
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
  margin: auto;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-right: 2px solid #cccccc;
  border-top: 2px solid #cccccc;
  transform: rotate(45deg);
}